body {
  background-color: #d6e5fa;
  font-family: "Orbitron", sans-serif;
  color: #160040;
  text-align: center;
  margin: 0%;
  width: 100%;
}
.input-label {
  font-size: 2rem;
  position: absolute;
  top: 20%;
  left: 12%;
}
.input-box {
  background-color: #d6e5fa;
  position: absolute;
  top: 22.3%;
  right: 30%;
}

.submit {
  background-color: #160040;
  color: white;
  border-radius: 10%;
  position: absolute;
  top: 22.3%;
  right: 24%;
}

.reset {
  background-color: #160040;
  color: white;
  border-radius: 10%;
  position: absolute;
  top: 22.3%;
  right: 18%;
}

.password-class {
  background-color: white;
  width: 80%;
  height: auto;
  position: absolute;
  top: 40%;
  left: 9%;
}
